<header class="topnav">
  <%= link_to "logo", "/path", class: "navbar_link logo" %>

  <%= form_with url: stores_path, method: :get do |f| %>
    <%= f.text_field :search_box %>
    <%= f.submit "Search" %>
  <% end %>

  <nav>
    <%= user_connexion %>
    <%= user_type_link %>
    <%= link_to "panier", root_path, class: "navbar_link" %>
  </nav>
</header>
