<div class="cart_container">
  <%= cl_image_tag(product_photo(product), :width => 180, :height => 180) if product_photo_present?(product)%>
  <div class="cart-product">
  <p><%= product_name(product) %></p>
      <div class="cart_quantity">
        <h6>Qté:</h6>
        <%= update_product_quantity(product, store)  %>
        <%= link_to "suprimer", cart_item_path(product.id), :method => :delete, id: "cart_sup" %>
      </div>
  </div>
  <%= product_price(product) %> €
</div>