<div class="cart_container">
  <%= cl_image_tag(product.product.photos[0].key, :width => 180, :height => 180) if product.product.photos.present?%>
  <div class="cart-product">
   <p><%= product.product.name %></p>
      <div class="cart_quantity">
        <h6>Qté:</h6>
        <%= simple_form_for product do |f| %>
          <%= f.input :quantity, collection: 1..5, selected: product.quantity, label: false , :input_html => { :class => 'select_quantity' }%>
        <% end %>
        <%= link_to "suprimer", cart_item_path(product.id), :method => :delete, id: "cart_sup" %>
      </div>
  </div>
   <%= product.product.price %> €
</div>
