<%= render "shared/btn_categories",  btn_categories: @btn_categories %>
</div>
<div class="page_product">
  <div class = "product_photo">
    <div id = "zoom_photo">
      <%= cl_image_tag(@product.photos.first.key) %>
    </div>
      <% @product.photos.each do |photo| %>
              <%= cl_image_tag(photo.key, 
                                          :height => 80,
                                          :class => "photo_product",
                                          :id => photo.id) %>
      <% end %>
  </div>
  <div class="product_data">
    <h1><%= @product.name %></h1>
    <div class="product_data_presentation">
      <%= simple_format(@product.desc) %>
    </div>
    
    <h6 class="product_price size-medium">Prix: <%= @product.price_cents %>€</h6>
    <%= button_to "Ajouter au panier",cart_items_path("product_id" => @product.id,
                                                                "quantity" => 1,
                                                                "store_id" => @product.store.id),
                                      class: "btn-cart" %>
  </div>
</div>
